/*
 * Housekeeping
 */
#about{
         column-count: 2;
      it-column-count: 2;
    -moz-column-count: 2;
           column-gap: 1px; 
      -moz-column-gap: 1px;
   -webkit-column-gap: 1px;

   margin: 0px 60px;

}

.meet_staff{
  margin: 90px 60px;
  float: left;
  clear: right;
  height: 100%;
}

.smaller-wrapper img{
/*  width: 60%;
  margin: auto;*/
  float: right;
}

#categories li{
    list-style: none;
    margin: 20px;
    display: inline-block;
}

#categories h1, p {
    margin: 0;
    padding: 0 0 5px;
}

#categories h1{
    font-family: 'salon_5medium';
    font-size: 44px;
}

#categories p{
    font-family: "Proxima Nova", sans-serif;
}

#categories .container {
    margin: 0 auto;
    max-width: 400px;
}

/*
 * Caption component
 */
.caption {
    position: relative;
    overflow: hidden;

    /* Only the -webkit- prefix is required these days */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}

.caption::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
}

.caption:hover::before {
    background: rgba(0, 0, 0, .5);
}

.caption__media {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

.caption__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;

    -webkit-transform: translateY(100%);
            transform: translateY(100%);

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}

.caption:hover .caption__overlay {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.caption__overlay__title {
    -webkit-transform: translateY( -webkit-calc(-100% - 10px) );
            transform: translateY( calc(-100% - 10px) );

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}

.caption:hover .caption__overlay__title {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}