.responsive div{
	margin: 10px;
}

.responsive{
	margin: 0px auto;
	width: 90%;
	height: 220px;
}

.video div{
	width: 550px;
	height: 291px;
	left: 15px;
}

.video{
	margin: 0px auto;
	width: 550px;
	height: 300px;
}
