/*body{
    background: #f6f7f0;
}*/

#header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  width: 100%;
  height: 100px;
  line-height: 112px;
  background: rgba(255, 255, 255, .9);
  box-shadow: 0 0 0.15em 0 rgba(0,0,0,0.1);
}

:target{
  padding-top: 110px;
}

#media:target{
  padding-top: 110px;
}

#intro:target{
  padding-top:0px;
}

#contact:target{
  padding-top: 0px;
}


/* Navigation Bar */

/*Style 'show menu' label button and hide it by default*/
.show-menu {
  text-decoration: none;
  text-align: center;
  /*padding: 10px 0;*/
  display: none;
}

/*nav {
  margin: 50 px;
  overflow: hidden;
}*/

.umm {
    float: right;
    /*clear: left;*/
    margin: 20px 35px;
    /*padding: 0px 30px;*/
}



/* end of nav bar */
.logo{
  display: inline-block;

}
.logo:hover img:first-child{
  display:none;
}

.logo img:first-child{
  display:inline-block;
}

.logo:hover img:nth-child(2){
  display:inline-block;
}

.logo img:nth-child(2){
  display:none;
}

h2{
  text-align: center;
}

.salon_logo{
  float: left;
  /*background: rgba(255, 255, 255, 1);*/
  /*border: 1px solid green;*/
  /*height: 100px;*/
  margin: -5px 35px 0px 15px;
  padding: 5px;
}

#intro-pic {
  background-image: url("images/blue_overlay.png"), url("images/salonathon1.jpg");
  background-size: 670px 670px, cover;
  background-attachment: fixed, fixed;
  background-position: top left, bottom center;
  background-repeat: repeat no-repeat;
  overflow-x: hidden;
  width: 100%;
  height: 625px;
  /*margin-top: -20px;*/
}

.main{
  /*position: relative;*/
  margin: 0;
  overflow-x: hidden;
}

.body{
  /*margin-top: 20px;*/
}
.temp-text{
  margin-left: 50%;
  text-align: center;
}

h4{
  text-align: center;
  line-height: 1em;
}

.center {
  text-align: center;
}

.about-spiel{
  padding: 5px;
  text-align: center;
  font-family: 'salon_5medium';
  font-size: 35px;
  width: 400px;
  text-align: center;
  border: 1px solid white;
  color: white;
  background-color: rgba(255, 255, 255, .4);
  margin-top: 495px;
  margin-left: 30%;
  position: absolute;
}

/*.image-gallery{
  margin: auto;
  width: 90%;
  border: 2px solid #008080;
  height: 200px;
}

.video-gallery{
  margin: 20px auto;
  width: 90%;
  height: 200px;
  border: 2px solid #008080;
}
*/

.calendar-wrapper{
  padding: 15px;
  margin: 20px auto;
}

.cal{
  /*width: 45%;*/
  text-align: center;
  /*margin: -10px auto;*/
  font-family: 'salon_6medium', sans-serif;
  font-size: 70px;
  /*left: 27%;*/
  border: 2px solid blue;
}

.calendar-wrapper p{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.weekly-event{
  width:33%;
  text-align: center;
  height: 200px;
  line-height: 200px;
}
.last-week{
  float: left;
}
.this-week{
  display: inline-block;
}

.next-week{
  float: right;
}


section{
  margin: 0px;
/*  margin-top: 20px;
  margin-bottom: 20px;*/
  /*padding: 15px;*/
}

.blue-cross{
  width: 100%;
  background-image: url("images/background/blue_x_background.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  overflow-x:hidden;
  background-color: #ffffff;
  padding: 10px;
}

.about-statement{
  font-family: 'Proxima Nova', sans-serif;
  margin: 25px auto;
  padding: 20px;
  width: 60%;
  /*border: 3px solid white;*/
  text-align: center;
  line-height: 40px;
  font-size: 18px;
}

.text-portion:{
  float: left;
  width: 50%;
}


.asd{
  width: 60%;
  margin: auto;
  border: 1px solid white;
  padding: 30px;
  /*color: white;*/
  background-color: rgba(255, 255, 255, .6);
}

.cols{
  width:48%;
  text-align: center;
  height: 50px;
}

.contact-text{
  float: left;
  vertical-align: center;
  /*line-height: 50px;*/
}

.contact-btn{
  float: right;
  height: 50px;
  /*width: 80px;*/
  line-height: 20px;
  margin-top: 10px;
  margin-right: 50px;
  vertical-align: center;
}


h4{
  font-family: salon_5medium;
  font-size: 24px;
  margin: 15px;
}

h2{
  font-family: salon_5medium;
  font-size: 54px;
  margin: 0px;
  padding-top: 25px;
}

.beyond-wrapper{
  margin: auto;
  width: 100%;
  line-height: 0px;
  -webkit-column-count: 3;
  -moz-column-count:    3;
  column-count:         3;
  -webkit-column-gap:   15px;
  -moz-column-gap:      15px;
  column-gap:           15px; 
}

.beyond-wrapper > img{
  width: 100%;
  height: auto;
}

.beyond-item{
  display: inline-block;
  margin: 0px auto;
  padding: 0px;
  /*float: left;*/
}

.beyond-item img{
  padding: 10px;
}


#media{
  background-image: url('images/background/purple_background.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  width: 100%;
  /*padding-bottom: 25px;*/
  /*height: 50%;*/
}


#media {
   margin: 0;
   /*padding: 0;*/
}
.wrap {
   overflow: hidden;
   margin: 10px;
}
.box {
   display: inline-block;
   float: left;
   position: relative;
   width: 20%;
   padding-bottom: 20%;
}
.boxInner {
   position: absolute;
   left: 10px;
   right: 10px;
   top: 10px;
   bottom: 0px;
   overflow: hidden;
}
.boxInner img {
   width: 100%;
}

body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
   margin-bottom: 0;
}
@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   .box {
      width: 100%;
      /*padding-bottom: 10%;*/
   }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .box {
      width: 50%;
      /*padding-bottom: 50%;*/
   }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   .box {
      width: 33.3%;
      /*padding-bottom: 33.3%;*/
   }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   /* Medium desktop: 4 tiles */
   .box {
      width: 25%;
      /*padding-bottom: 25%;*/
   }
}

.more_button{
  display: block;
  background-image: url('images/icons/salonathon_icons.png');
  background-repeat: no-repeat;
  background-position: -220px 0px;
  width: 150px;
  height: 70px;
  float: right;
  margin-bottom: 40px;
}

.movie{
  width: 100%;
  text-align: left;
  clear: right;
  /*float: left;  */
}

.movie p {
  font-family: 'salon_5medium', sans-serif;
  font-size: 25px;
  display: inline-block;
  margin-left: 30px;
  /*width: 45%;*/
}

.movie > iframe{
  margin: 30px auto;
  display: block;
  width: 95%;
  height: 75%;
}

#calendar{
  margin-top: 40px;
}

.calendar-wrapper {
  /*float: center;*/
  overflow: hidden;
  width: 95%;
  height: 80%;
  margin: 10px auto;
  /*background: rgba(255, 255, 255, .8);*/
  /*border: 1px solid white;*/
}
.calendar-wrapper > div {
  float: left;
  overflow: hidden;
  margin: 2px auto;
  cursor: pointer;
}
.calendar-wrapper > div > img{
  /*width: 100%;*/
  height: auto;
}
.calendar-wrapper > div + div{
  display: block;
  float: none;
  overflow: hidden;
  width: 43%;
  margin: 60px auto;
}
.calendar-wrapper > div > h4 {
  font-family: "Proxima Nova", sans-serif;
  font-size: 30px;
}
.calendar-wrapper > div > p {
  font-family: "Proxima Nova", sans-serif;
  font-size: 20px;
}
.arrow{
  position: absolute;
  z-index: 4;
  left: 15%;
  margin-top: -268px;
}

#beyond-beauty-bar{
  margin-top: 30px;
  background-color: #279dff;
}

#beyond-beauty-bar > header > h2{
  margin-bottom: 20px;
  color: white;
}
.txt{
/*  position: absoulte;
  top: 50%;
  height: 10em;
  margin-top: -5em;*/
  vertical-align: middle;

}
.contact{
  width: 100%;
  height: 110px;
  background-color: #9dd4ee;
  font-family: "Proxima Nova", sans-serif;
  font-size: 30px;
  position: relative;
  padding: 15px;
}

.contact > img{
  vertical-align: middle;
  margin-left: -50px;
}

.email{
  display: inline-block;
  text-align: center;
  vertical-align: middle;

}

.email > a {
  text-decoration: none;
}


.fotter-wrapper{
  background-color: #3f3f3f;
  height: 300px;
  width: 100%;
  overflow: hidden;
  list-style: none;
  color: white;
}

.fotter-wrapper li{
  display: inline-block;
}

.icon{
  width: 70px;
  height: 70px;
  background-image: url("images/icons/salonathon_icons.png");
  float: right;
}

.fa-twitter{
  background-position: -165px -5px;
}

.fa-facebook{
  background-position: 10px -5px;
}
.fa-vimeo{
  background-position: -100px -5px;
}
.fa-instagram{
  background-position: -43px -5px;
}



*{
  overflow-x: hidden;
}
